{% extends 'base/base.html' %}

{% block content %}
<h1 class="pull-rig container">
    <div class="row">
        <div class="col-8">
            <h1></h1>
            <h2 class="text-center">LISTADO DE VENTAS</h2>
        </div>
        <div class="col-4 text-center">
            <a href="{% url 'ventas:ventaCreate' %}" class="btn btn-outline-primary">Adicionar</a>
        </div>
    </div>
</h1>
    <table class="table table-primary table-striped table-bordered table-hover  table-rounded"  >
        <thead>
          <tr>
            <th scope="col"class="text-center">ID</th>
            <th scope="col"class="text-center">FECHA</th>
            <th scope="col"class="text-center">VALOR TOTAL</th>
            <th scope="col"class="text-center">TIPO PAGO</th>
            <th scope="col"class="text-center">USER</th>
            <!-- <th scope="col"class="text-center">VEHICULO</th> -->
            <th scope="col"class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% if ventas %}

                {% for venta in ventas %}
                    <tr>
                        <td class="text-center">{{ venta.id }}</td>
                        <td class="text-center">{{ venta.fecha }}</td>
                        <td class="text-center">{{ venta.valorTotal }}</td>
                        <td class="text-center">{{ venta.tipoPago }}</td>
                        <td class="text-center">{{ venta.user }}</td>
                        <!-- <td class="text-center">{{ venta.vehiculo.extra.first }}</td> -->
                        <td class="d-flex justify-content-center">
                            <a class="btn btn-primary btn-warning btn-xs" href="{% url 'ventas:ventaEdit' venta.id %}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a class="btn btn-primary btn-dange btn-xs" href="{% url 'ventas:ventaElim' venta.id %}">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <h3>No existen Registros en ventas</h3>
            {% endif %}
        </tbody>
    </table>
{% endblock  %}